@import '../../../shared/variable.scss';

.comment {
  display: flex;
  align-items: center;
  gap: 0 15px;

  .comment-content {
    background-color: $bg-gray;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px 0;
    .comment-user {
      font-size: 16px;
      font-weight: 600;
      color: $black-color;
    }
    .comment-text {
      font-size: 14px;
      font-weight: 500;
      color: $text-gray-800;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -5px;
      width: 12px;
      height: 12px;
      background-color: inherit;
      transform: translateY(-50%) rotate(45deg);
    }

    .comment-content-user-and-time {
      display: flex;
      align-items: center;
      gap: 0 10px;
      span {
        font-size: 12px;
        font-weight: 500;
        color: $text-gray-600;
      }
    }
  }

  .comment-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 300ms ease-in-out;
    margin-left: -10px;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: $bg-gray;
    }
  }
  .comment-popup {
    position: absolute;
    width: 200px;
    left: 0;
    bottom: 100%;
    height: auto;
    background-color: white;
    padding: 10px;
    gap: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    hr {
      margin: 0;
      border: none;
      border-top: 1px solid $border-color;
    }

    .comment-popup-item {
      background-color: inherit;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 0 10px;
      padding: 10px 12px;
      border-radius: inherit;
      color: $text-gray-500;
      font-weight: 700;
      font-size: 20px;
      &:hover {
        background-color: $bg-gray;
      }
      span {
        font-size: 13px;
        color: $text-gray-900;
      }
    }
  }
  .comment-edit {
    width: 100%;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    button {
      font-size: 20px;
      color: $text-gray-900;
      background-color: transparent;
      cursor: pointer;
    }
    input {
      width: 100%;
      height: 100%;
      font-size: 14px;
      color: $text-gray-900;
      letter-spacing: 0.5px;
    }

    .comment-edit-cancel {
      position: absolute;
      bottom: -18px;
      left: 0;
      font-size: 12px;
      font-weight: 500;
      color: $text-gray-600;
      span {
        font-weight: 700;
        color: $blue-500;
        cursor: pointer;
      }
    }
  }

  &.dark {
    .comment-content {
      background-color: $bg-dark-mode-2;

      .comment-user {
        color: white;
      }

      .comment-text {
        color: white;
      }
    }
  }
}
