@import '../../../shared/variable.scss';

.friendsRequestsPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $bg-greylight;

  .friendsRequestsPage-wrapper {
    height: 100%;
    margin: 0 auto;

    .friendsRequestsPage-header {
      padding: 24px 15px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 20px;
      border-radius: 8px;
      h2 {
        font-size: 22px;
        color: $text-gray-900;
        font-weight: 700;
      }
    }

    .friendsRequestsPage-list {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
  }

  &.dark {
    background-color: $bg-dark-mode-2;
    .friendsRequestsPage-wrapper .friendsRequestsPage-header {
      background-color: $bg-dark-mode;

      h2 {
        color: white;
      }
    }
  }
}
