@import '../../shared/variable.scss';
.postViewPage {
  width: 100vw;
  min-height: 100vh;
  position: relative;

  .postViewPage-wrapper {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }

  &.dark {
    background-color: $bg-dark-mode-2;
  }
}
