@import '../../shared/variable.scss';
.online-user {
  display: flex;
  align-items: center;
  gap: 0 10px;
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #cccaca;
  }
  .online-user-name {
    font-weight: 600;
    font-size: 17px;
    color: $text-gray-900;
    font-size: 13px;
  }
  &.dark {
    &:hover {
      background-color: $bg-dark-mode-2;
    }
    .online-user-name {
      color: white;
    }
  }
}

@media screen and (min-width: $desktop-screen) {
  .online-user .online-user-name {
    font-size: 15px;
  }
}
