@import '../../shared/variable.scss';

.chatBox {
  height: 100%;

  .chatBox-messages {
    height: calc(100% - 60px - 67px);
    background-color: white;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    gap: 5px 0;

    .no-message {
      text-align: center;
      color: $text-gray-900;
    }
  }

  .chatBox-input {
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding-left: 10px;
    .chatBox-input-assets-icon {
      font-size: 25px;
      color: $blue-500;
      cursor: pointer;
    }
    form {
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      gap: 0 10px;
      flex: 1;
      input {
        width: 100%;
        resize: none;
        height: 100%;
        background-color: $border-color;
        border-radius: 30px;
        padding: 10px 15px;
        font-size: 16px;
      }
      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        font-size: 18px;
        color: $blue-500;
        &:hover {
          background-color: $border-color;
        }
      }
    }
  }
}

.notificationChatBox {
  margin: 10px auto;
  display: flex;
  align-items: center;
  gap: 0 10px;
  background-color: $bg-gray;
  padding: 10px;
  border-radius: 30px;

  .notificationChatBox-avatar {
    width: 30px;
    height: 30px;
  }
  .notification-content {
    font-size: 14px;
    color: $text-gray-900;
  }

  .notification-name {
    font-weight: 600;
  }
}
