//color
$success-color: #10d876;
$text-gray-500: #adb5bd;
$text-gray-600: #6c757d;
$text-gray-700: #495057;
$text-gray-800: #888;
$text-gray-900: #212529;
$text-danger: #e50202;
$text-warning: #fe9431;
$bg-dark: #343a40;
$bg-white: #fff;
$bg-gray: #eee;
$bg-gray-light: #fbfcfe;
$bg-greylight: #f5f5f5;
$blue-color-300: #1e74fd;
$blue-100: #d2e3ff;
$blue-500: #05f;
$blue-400: #09f;
$black-color: #111;
$border-color: #eee;
$bg-dark-mode: #293145 !important;
$bg-dark-mode-2: #1a2236 !important;

//font-size
$font-14: 14px;
$font-24: 24px;

//radius
$radius-30: 30px;

//responsive
$mobile-screen: 320px;
$tablet-screen: 480px;
$ipad-screen: 768px;
$laptop-screen: 1024px;
$desktop-screen: 1440px;
$large-screen: 2560px;
