@import '../../shared/variable.scss';

.friends {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $bg-greylight;
  .friends-wrapper {
    height: 100%;
    margin: 0 auto;

    .friends-page-header {
      padding: 24px 15px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 20px;
      border-radius: 8px;
      h2 {
        font-size: 22px;
        color: $text-gray-900;
        font-weight: 700;
      }
      .friends-page-filter {
        max-width: 200px;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        height: 45px;
        border-radius: 8px;
        font-weight: 500;
        color: $text-gray-500;
        background-color: $bg-greylight;
        input {
          width: 100%;
          height: 100%;
          background-color: inherit;
          color: $text-gray-700;
          &::placeholder {
            color: $text-gray-500;
          }
        }
      }
    }
  }
  .friend-list {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 40px;
  }
  .friend-info {
    max-width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    flex-direction: column;
    gap: 12px 0;
    background-color: #fff;
    border-radius: 8px;

    .friend-info-avatar {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .friend-info-name-and-status {
      .friend-info-name {
        font-size: 16px;
        font-weight: 600;
        color: black;
        margin-bottom: 5px;
        text-align: center;
        &:hover {
          text-decoration: underline;
        }
      }

      .friend-info-status {
        font-size: 12px;
        color: $text-gray-600;
        opacity: 0.6;
        text-align: center;
      }
    }

    .friend-info-action {
      cursor: pointer;
      button {
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        &.friend-info-action-delete {
          background-color: $text-danger;
        }
      }
    }
  }

  &.dark {
    background-color: $bg-dark-mode-2;
    .friends-wrapper {
      background-color: $bg-dark-mode-2;
    }
    .friend-info {
      background-color: $bg-dark-mode;
      .friend-info-name-and-status .friend-info-name {
        color: white;
      }
    }

    .friends-wrapper .friends-page-header {
      background-color: $bg-dark-mode;
      h2 {
        color: white;
      }
      .friends-page-filter {
        background-color: $bg-dark-mode-2;
        input {
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: $mobile-screen) {
  .friends {
    padding-left: 20px;
    padding-right: 20px;
    .friend-list {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
  }
}

@media screen and (min-width: $tablet-screen) {
  .friends {
    .friends-wrapper {
      min-width: 320px;
    }
    .friend-list {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .friend-info {
      min-width: 320px;
    }
  }
}

@media screen and (min-width: $ipad-screen) {
  .friends {
    .friends-wrapper {
      .friends-right {
        display: none;
      }
    }
    .friend-list {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
    .friend-info {
      min-width: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: $laptop-screen) {
  .friends {
    .friends-wrapper {
      padding-top: 20px;
    }
    .friend-list {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
    .friend-info {
      min-width: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: $large-screen) {
  .friends .friends-wrapper {
    margin: 0 auto;
  }
  .friends .friends-rightbar {
    display: block;
  }
}
