@import '../../shared/variable.scss';

.friend-request {
  padding: 10px;
  border-radius: 8px;
  .friend-request-info {
    display: flex;
    align-items: center;
    gap: 0 10px;

    .friend-request-avatar {
      width: 45px;
      height: 45px;
    }

    .friend-request-name {
      h4 {
        font-size: 12px;
        font-weight: 700;
        color: $text-gray-900;
        margin-bottom: 5px;
        width: max-content;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        font-size: 12px;
        font-weight: 500;
        color: $text-gray-500;
      }
    }
  }
  .friend-request-action {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 0 10px;

    .friend-request-button {
      width: 100%;
      max-width: 100px;
      height: 36px;
      border-radius: 30px;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.5px;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &.friend-request-button-confirm {
        color: white;
        background-image: linear-gradient(135deg, #05f, #09f);
      }
      &.friend-request-button-delete {
        color: $text-gray-800;
        background-color: $bg-gray;
      }
    }
  }
  .friend-request-accepted {
    color: $text-gray-600;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
  }
  &.dark {
    background-color: $bg-dark-mode;
    .friend-request-info .friend-request-name h4,
    .friend-request-info .friend-request-name span {
      color: white;
    }
  }
}
