@import '../../shared/variable.scss';

.storiesPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $bg-greylight;

  .storiesPage-wrapper {
    height: 100%;
    margin: 0 auto;

    .storiesPage-header {
      padding: 24px 15px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 20px;
      border-radius: 8px;
      h2 {
        font-size: 22px;
        color: $text-gray-900;
        font-weight: 700;
      }
    }

    .storiesPage-list {
      margin-top: 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;

      .storiesPage-item {
        border-radius: 8px;
        width: 100%;
        height: 200px;
        flex-shrink: 0;
        overflow: hidden;

        .storiesPage-item-wrapper {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 20px;
          flex-shrink: 0;
          cursor: pointer;
          background-color: $black-color;
          isolation: isolate;
          transition: all 0.3s ease;
          position: relative;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          &::before {
            content: '';
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
        &:hover .storiesPage-item-wrapper,
        &:focus .storiesPage-item-wrapper {
          transform: scale(1.05);
        }
        &:hover .storiesPage-item-wrapper::before,
        &:focus .storiesPage-item-wrapper::before {
          display: block;
        }
        .storiesPage-item-user-avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          font-size: 23px;
          font-weight: 600;
          margin-bottom: 8px;
          &.seen {
            border: 4px solid $border-color;
          }
          &.not-seen {
            border: 4px solid $blue-500;
          }
        }

        .storiesPage-item-user-name {
          font-size: 13px;
          font-weight: 600;
          color: white;
        }
      }
    }
  }

  &.dark {
    background-color: $bg-dark-mode-2;

    .storiesPage-wrapper .storiesPage-header {
      background-color: $bg-dark-mode;

      h2 {
        color: white;
      }
    }
  }
}

@media screen and (min-width: $tablet-screen) {
  .storiesPage .storiesPage-wrapper .storiesPage-list .storiesPage-item {
    height: 250px;
  }
}

@media screen and (min-width: $tablet-screen) {
  .storiesPage .storiesPage-wrapper .storiesPage-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .storiesPage .storiesPage-wrapper .storiesPage-list .storiesPage-item {
    height: 300px;
  }
}

@media screen and (min-width: $desktop-screen) {
  .storiesPage .storiesPage-wrapper .storiesPage-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
