@import '../../shared/variable.scss';

.wrapper-1 {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  .wrapper-1__item {
    width: 100%;
    height: 100%;
    // max-height: 500px;
    cursor: pointer;
    .wrapper-1__item__image {
      width: 100%;
      max-width: 100%;
      border-radius: 6px;
      object-fit: cover;
      max-height: 800px;
      // background-image: none;
      // background-repeat: no-repeat;
      // background-position: center center;
      // background-size: cover;
    }
  }
}

.wrapper-3 {
  .wrapper-3__item1 {
    width: 100%;
    height: 100%;
    max-height: 500px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      max-height: 500px;
      object-fit: cover;
    }
  }
  .wrapper-3__item2 {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    .wrapper-3__item {
      width: 100%;
      height: 100%;
      max-height: 300px;
      cursor: pointer;
      position: relative;
      img {
        width: 100%;
        max-height: 300px;
        min-height: 200px;
        border-radius: 6px;
        object-fit: cover;
      }

      .bonus_count {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media screen and (min-width: $mobile-screen) {
  .wrapper-1 {
    flex-direction: column;
  }
  .wrapper-1 .wrapper-1__item .wrapper-1__item__image {
    height: auto;
  }
  .wrapper-3 {
    .wrapper-3__item1 {
      img {
        height: auto;
        max-height: 600px;
      }
    }
    .wrapper-3__item2 {
      .wrapper-3__item {
        img {
          height: auto;
          max-height: 600px;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-screen) {
  .wrapper-1 .wrapper-1__item .wrapper-1__item__image {
    height: auto;
  }
  .wrapper-3 {
    .wrapper-3__item1 {
      img {
        height: auto;
        max-height: 600px;
      }
    }
    .wrapper-3__item2 {
      .wrapper-3__item {
        img {
          height: auto;
          max-height: 600px;
        }
      }
    }
  }
}

@media screen and (min-width: $ipad-screen) {
  .wrapper-3 {
    .wrapper-3__item2 {
      .wrapper-3__item {
        img {
          height: auto;
          max-height: 600px;
        }
      }
    }
  }
}

@media screen and (min-width: $laptop-screen) {
  .wrapper-3 {
    .wrapper-3__item1 {
      img {
        height: auto;
        max-height: 800px;
      }
    }
    .wrapper-3__item2 {
      .wrapper-3__item {
        img {
          height: auto;
          max-height: 800px;
        }
      }
    }
  }
}
