@import '../../../shared/variable.scss';

.createStoryPage {
  min-height: 100vh;
  background-color: $bg-gray-light;
  .createStoryPage-sidebar {
    padding-top: 90px;
    padding-bottom: 20px;
    flex-shrink: 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .createStoryPage-sidebar-top {
      padding-left: 15px;
      padding-right: 15px;
      .createStoryPage-title {
        font-size: 24px;
        font-weight: 700;
        color: $text-gray-900;
        margin-bottom: 30px;
      }
      .createStoryPage-info {
        display: flex;
        align-items: center;
        gap: 0 15px;

        .createStoryPage-avatar {
          width: 50px;
          height: 50px;
        }

        .createStoryPage-name {
          font-size: 16px;
          font-weight: 600;
          color: $text-gray-900;
        }
      }
    }
    hr {
      margin-top: 20px;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid $border-color;
    }
  }

  .createStoryPage-button {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-top: auto;
    button {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      &.createStoryPage-button-cancel {
        background-color: $bg-gray;
        color: $text-gray-900;
        &:hover {
          background-color: $bg-gray-light;
        }
      }
      &.createStoryPage-button-confirm {
        background-color: $blue-500;
        color: white;
        &:hover {
          background-color: $blue-color-300;
        }
      }
    }
  }

  .createStoryPage-main {
    width: 100%;
    height: calc(100vh - 96px - 30px);
    display: flex;
    align-items: center;
    justify-content: center;

    .createStoryPage-choose {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      .createStoryPage-choose-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 200px;
        height: 300px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;

        .createStoryPage-choose-item-icon {
          font-size: 20px;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: $bg-greylight;
        }

        .createStoryPage-choose-item-text {
          font-size: 12px;
          font-weight: 600;
          color: white;
          margin-top: 10px;
        }

        &.createStoryPage-choose-item-photo {
          background: #833ab4; /* fallback for old browsers */
          background: -webkit-linear-gradient(
            to right,
            #fcb045,
            #fd1d1d,
            #833ab4
          ); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(
            to right,
            #fcb045,
            #fd1d1d,
            #833ab4
          ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        &.createStoryPage-choose-item-text {
          background: #feac5e; /* fallback for old browsers */
          background: -webkit-linear-gradient(
            to right,
            #4bc0c8,
            #c779d0,
            #feac5e
          ); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(
            to right,
            #4bc0c8,
            #c779d0,
            #feac5e
          ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
      }
    }

    .createStoryPage-preview {
      width: 100%;
      height: 100%;
      padding: 10px;
      max-width: 900px;
      h3 {
        font-size: 15px;
        font-weight: 600;
        color: $text-gray-900;
      }
      .createStoryPage-preview-container {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: $black-color;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: auto;
          max-width: 100%;
          height: 100%;
          border-radius: 8px;
          object-fit: cover;
        }
      }
    }
  }

  &.dark {
    background-color: $bg-dark-mode-2;
    .createStoryPage-sidebar {
      background-color: $bg-dark-mode-2;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      .createStoryPage-sidebar-top {
        .createStoryPage-info .createStoryPage-name,
        .createStoryPage-title {
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: $ipad-screen) {
  .createStoryPage .createStoryPage-main {
    margin-top: 30px;
    .createStoryPage-choose {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (min-width: $laptop-screen) {
  .createStoryPage {
    display: flex;
    padding-top: 96px;
    .createStoryPage-sidebar {
      padding-top: 20px;
      width: 300px;
    }
  }
}

@media screen and (min-width: $desktop-screen) {
  .createStoryPage {
    .createStoryPage-sidebar {
      width: 400px;
    }
  }
}
